// Amaze UI DingTalk: Tabs
// =============================================================================

@import "../env";

// Output
// -----------------------------------------------------------------------------
.#{$tabs-prefix} {
  margin: $global-spacing 0;
  background: $tabs-background;
  @extend %card-nested-component;
}

.#{$tabs-prefix}-nav {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid $tabs-nav-border-color;

  a {
    display: block;
    flex: 1;
    height: $tabs-nav-height;
    line-height: $tabs-nav-height - rem-calc(2);
    text-align: center;
    color: $tabs-nav-color;
    @extend %text-truncate;

    &.#{map_get($am-states, active)} {
      color: $tabs-nav-active-color;
      border-bottom: 2px solid $tabs-nav-active-color;
    }

    &[disabled] {
      opacity: .45;
      cursor: not-allowed;
    }
  }
}

.#{$tabs-prefix}-body {
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.#{$tab-prefix}-panel {
  $panel: &;

  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: $global-spacing;
  visibility: hidden;
  transition: transform 0.3s;
  transform: translateX(-100%);

  &.#{map_get($am-states, active)} {
    position: relative;
    z-index: 100;
    visibility: visible;
    transform: translateX(0);

    & ~ #{$panel} {
      transform: translateX(100%);
    }
  }

  // panel without padding
  &#{$panel}-no-padded {
    padding: 0;
  }
}

// Modifier: inset
// -----------------------------------------------------------------------------
.#{$tabs-prefix}-inset {
  margin-left: $global-spacing;
  margin-right: $global-spacing;
}

// Modifier: radius
// -----------------------------------------------------------------------------
.#{$tabs-prefix}-radius {
  .#{$tabs-prefix}-nav {
    border: 1px solid $tabs-radius-nav-border-color;
    border-radius: $global-radius;

    a {
      height: $tabs-radius-nav-height;
      line-height: $tabs-radius-nav-height;
      font-size: rem-calc(14);

      & + a {
        border-left: 1px solid $tabs-radius-nav-border-color;
      }

      &.#{map_get($am-states, active)} {
        color: $tabs-radius-nav-color;
        border-bottom: none;
        background: $tabs-radius-nav-border-color;
      }
    }
  }
}
